Hello {{user_name}},<br/><br/>
Welcome to ShieldSquare Admin Portal !<br/><br/>
ShieldSquare Admin Portal provides you detailed visibility of the bot traffic on your website.<br/><br/>
Please find below your account credentials:<br/>
URL: {{ dashboard_url }}<br/>
Username: {{ username }}<br/>
Password: {{ password }}<br/><br/>
Thanks for choosing ShieldSquare.<br/><br/>
Yours sincerely,<br/>
ShieldSquare<br/><br/>
Note: Please do not reply to this email because we are not monitoring this inbox. To get in touch with us, drop a mail to support@shieldsquare.com