{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% load mathfilters %}
{% block extra_style %}
body.cover {
background:none;
}
.main-content{
min-height: 520px;
}
.legendLabel {
color:#000;
float: left;
}
.panel-title {
font-weight:600;
}
.pie-box .pie-title {
text-transform: none;
}
#flotTip {
background-color:#636363;
color:#000;
padding:3px;
border-radius:3px;
}
.popover {
width:100%;
}
label {
text-transform: none;
}
.input-group-addon {
padding: 4px 12px;
font-size: 13px;
}
.form-control {
height:25px;
}
@-moz-document url-prefix() {
.form-control {
height:auto;
}
}
table{
font-size: 14px;
}
{% endblock %}
{% block body_content %}
<section class="content">
  <ol class="breadcrumb">
    <li class="active"><i class="fa fa-home fa-fw"></i> Home / Integration / Getting Started </li>
  </ol>
  <div class="header">
    <div class="col-md-12">
      <h3 class="header-title">Getting Started</h3>
    </div>
  </div>
  <!-- CONTENT -->
  <div class="main-content">
  {% if first_time_login %}
    <div class="alert alert-success">
        <button id= "id_alert_success" type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <span id="id_alert_success_message">Thank you, your ShieldSquare account is now active</span>
    </div>
  {% endif %}
    <div class="row">
      <div class="col-md-12">
        <div class="panel">
          <div class="panel-heading">
            <h1 class="panel-title">What do you need to do next?</h1>
          </div>
          <div >
            <hr style="margin:0px;">
          </div>
          <div class="panel-body">
            <table>
              <tr style="margin-bottom:30px;">
                <td style="padding-left:10px;"><a class="btn btn-primary" > 1 </a></td>
                <td style="padding-left:10px;">Note your Subscriber ID</td>
              </tr>
              <tr>
                <td colspan="2">
                  <hr style="border:none;">
                </td>
              </tr>
              <tr style="margin-bottom:30px;">
                <td style="padding-left:10px;"><a class="btn btn-primary" > 2 </a></td>
                <td style="padding-left:10px;">Download and install the connectors </td>
              </tr>
              <tr>
                <td colspan="2">
                  <hr style="border:none;">
                </td>
              </tr>
              <tr style="margin-bottom:30px;">
                <td style="padding-left:10px;"><a class="btn btn-primary" > 3 </a></td>
                <td style="padding-left:10px;">Integrate the code snippets </td>
              </tr>
              <tr>
                <td colspan="2">
                  <hr style="border:none;">
                </td>
              </tr>
              <tr style="margin-bottom:30px;">
                <td style="padding-left:10px;"><a class="btn btn-primary" > 4 </a></td>
                <td style="padding-left:10px;">Verify if integration is successful </td>
              </tr>
            </table>
              <br>
              <a href='http://www.shieldsquare.co/blog/getting-started/' target="_blank">Click here to know the Detailed Integration Steps</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
{% block script_extra %}
<script type="text/javascript">
  $('#getting_started').addClass("active open");
</script>
{% endblock %}